<h1>Events</h1>
<% @events.each do |event| %>
    <div class="container border border-dark rounded-3 p-3">
        <p><%= link_to event.title, event_posts_path(event) %></p>
        <p><%= event.date %></p>
        <p><%= event.location %></p>
    </div>
<% end %>
